<!DOCTYPE html>
<html>
  <head>

    <title> SIMPLE </title>

    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/d7f2d4eb0a.js" crossorigin="anonymous"></script>
    <!-- FONT AWESOME -->

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <!-- GOOGLE FONTS -->

    <!-- INDEX CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- INDEX CSS -->

    <!-- HEADER -->
    <link rel='stylesheet' href='/css/header.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- HEADER -->

    <!-- NAV -->
    <link rel="stylesheet" href="/css/nav.css">
    <!-- NAV -->

    <!-- HOME -->
    <link rel="stylesheet" href="/css/home.css">
    <!-- HOME -->

    <!-- FOOTER -->
    <link rel="stylesheet" href="/css/footer.css">
    <!-- FOOTER -->

  </head>
  <body>

    <div id="header">
      <p id="titulo">Simple</p>
    </div>

    <div id="nav">
      <p id="izquierda">
       <a href="/">S</a> 
      </p>
      <div id="derecha">
        <h3>Cuenta</h3>
        <i id="icono" class="fas fa-shopping-cart"></i>
      </div>
    </div>

    <div id="home">
      
      <form action="GET">
        <input type="search" name="busqueda" id="buscar" placeholder="Buscar">
      </form>

      <section id="cards">
  
        <article class="card">
          <picture class="img-container">
            <img class="img-home" src="/images/cigarro-1.jfif" alt="img-card">
          </picture>

          <section class="info-card">
            <h2 class="tittle">
              NOMBRE CIGARRO
            </h2>
            <h3 class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, animi!
            </h3>
            <h3 class="price">
              PRECIO
            </h3>
            <h3 class="mount">
              CANTIDAD: 0
            </h3>
          </section>
        </article>

        <article class="card">
          <picture class="img-container">
            <img class="img-home" src="/images/cigarro-1.jfif" alt="img-card">
          </picture>

          <section class="info-card">
            <h2 class="tittle">
              NOMBRE CIGARRO
            </h2>
            <h3 class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, animi!
            </h3>
            <h3 class="price">
              PRECIO
            </h3>
            <h3 class="mount">
              CANTIDAD: 0
            </h3>
          </section>
        </article>

        <article class="card">
          <picture class="img-container">
            <img class="img-home" src="/images/cigarro-1.jfif" alt="img-card">
          </picture>

          <section class="info-card">
            <h2 class="tittle">
              NOMBRE CIGARRO
            </h2>
            <h3 class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, animi!
            </h3>
            <h3 class="price">
              PRECIO
            </h3>
            <h3 class="mount">
              CANTIDAD: 0
            </h3>
          </section>
        </article>
        
      </section>

    </div>

    <footer id="footer">
      <p id="S">
        S
      </p>
      <p id="lorem">
        Todos los derechos reservados.
      </p>
    </footer>

  </body>
</html>
