<!DOCTYPE html>
<html>
  <head>

    <%- include("./partials/head") -%>

    <!-- HEADER -->
    <link rel='stylesheet' href='/css/header.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- HEADER -->

    <!-- HOME -->
    <link rel="stylesheet" href="/css/home.css">
    <!-- HOME -->
  </head>
  <body>

    <%-include("./partials/header") -%>

    <%- include("./partials/nav")-%>
    
    <div id="home">
      
      <form action="GET" method="GET">
        <input type="search" name="busqueda" id="buscar" placeholder="Buscar">
      </form>

      <section id="cards">
  
        <article class="card">
          <picture class="img-container">
            <img class="img-home" src="/images/cigarro-1.jfif" alt="img-card">
          </picture>

          <section class="info-card">
            <h2 class="tittle">
              NOMBRE CIGARRO
            </h2>
            <h3 class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, animi!
            </h3>
            <h3 class="price">
              PRECIO
            </h3>
            <h3 class="mount">
              CANTIDAD: 0
            </h3>
          </section>
        </article>

        <article class="card">
          <picture class="img-container">
            <img class="img-home" src="/images/cigarro-1.jfif" alt="img-card">
          </picture>

          <section class="info-card">
            <h2 class="tittle">
              NOMBRE CIGARRO
            </h2>
            <h3 class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, animi!
            </h3>
            <h3 class="price">
              PRECIO
            </h3>
            <h3 class="mount">
              CANTIDAD: 0
            </h3>
          </section>
        </article>

        <article class="card">
          <picture class="img-container">
            <img class="img-home" src="/images/cigarro-1.jfif" alt="img-card">
          </picture>

          <section class="info-card">
            <h2 class="tittle">
              NOMBRE CIGARRO
            </h2>
            <h3 class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, animi!
            </h3>
            <h3 class="price">
              PRECIO
            </h3>
            <h3 class="mount">
              CANTIDAD: 0
            </h3>
          </section>
        </article>
        
      </section>

    </div>

  <%- include("./partials/footer") -%>

  </body>
</html>
