@import url(./index.css);

#footer{
    text-align: center;
    font-size: 40px;

    border-bottom: solid 1px var(--Gray);
    border-top: solid 1px var(--Gray);
    margin-bottom: 40px;
    padding-bottom: 20px;
}
#footer #S{
    text-align: center;
    font-size: 150px;
    font-weight:500;

    border: 1px solid var(--Gray);
    width: 150px;
    margin: 40px auto;
}