@import url(./index.css);

#home{
    width: 60%;
    margin: 10% auto;
    height: auto;
    text-align: center;
}
#home #buscar::placeholder{
    color: var(--Grey);
    font-family: var(--Font);
    font-size: 35px;
}
#home #buscar{
    width: 100%;
    height: 45px;
    padding-left: 10px;
}

/*     CARTAS      */

#cards {
    overflow:;
    width: 100%;
    height: auto;

}

#cards .card{
    margin: 20px 0;
    height: auto;
}

#cards .card .img-container{
    width: 100%;
}

#cards .card .img-container .img-home{
    width: 100%;
}/* esto maneja el tamaño del contenedor de la imagen */
#cards .card .info-card{
    display: none;
}/* Con esto la imagen se ajusta sola */



@media (min-width: 768px){

}
@media (min-width: 1024px){

}